bin/
obj/
.idea/
*.DS_Store
backend-dotnet/CarSurveillance.Server/Data/
backend-dotnet/packages/
backend-dotnet/riderModule.iml
backend-dotnet/_ReSharper.Caches/
app-ios/CarSurveillance.App/CarSurveillance.App.xcodeproj/xcuserdata
app-ios/CarSurveillance.App/CarSurveillance.App.xcodeproj/project.xcworkspace/xcuserdata
